#mainContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

#adContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* visually hide the <img> but keep it in the DOM */
#muteButtonIcon {
  position: absolute; /* remove it from layout */
  width: 0;
  height: 0;
  opacity: 0; /* still accessible because aria-hidden="true" */
}

.mute-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 30;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 4;
  border: none;
  border-radius: 20%;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  overflow: hidden; /* remove scrollbars */
  flex-direction: column;
}

#statsPerformWidget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

.Opta > .Opta_W {
  position: relative;
  margin: 0;
  overflow: hidden;
}

/* (use data URIs for instant first paint) */
.mute-button[aria-pressed="true"] {
  /* muted */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M20.47%203.16663C20.15%202.90662%2019.68%202.95662%2019.42%203.27662L6.42004%2019.2766C6.16004%2019.5966%206.21004%2020.0666%206.53004%2020.3266C6.67004%2020.4466%206.83004%2020.4966%207.00004%2020.4966C7.22004%2020.4966%207.43004%2020.4066%207.58004%2020.2166L20.58%204.21663C20.84%203.89663%2020.79%203.42662%2020.47%203.16663ZM7.55%2016.3065L8.57%2015.0465L8.31%2014.9265C7.8%2014.6965%207.25%2014.5765%206.69%2014.5765H6C5.72%2014.5765%205.5%2014.3365%205.5%2014.0565V9.41652C5.5%209.12652%205.72%208.89652%206%208.89652H6.69C7.25%208.89652%207.8%208.77652%208.31%208.53652L13.8%206.02652C14.13%205.88652%2014.5%206.12652%2014.5%206.50652V7.74652L16%205.88652V4.51652C16%204.24652%2015.86%204.01652%2015.65%203.87652C15.44%203.73652%2015.17%203.70652%2014.94%203.81652L7.99%207.00652C7.48%207.22652%206.93%207.35652%206.37%207.35652H4.75C4.34%207.35652%204%207.70652%204%208.12652V15.3565C4%2015.7765%204.34%2016.1265%204.75%2016.1265H6.37C6.77%2016.1365%207.17%2016.1865%207.55%2016.3065ZM13.8%2017.4567C14.13%2017.6067%2014.5%2017.3467%2014.5%2016.9767V13.1767L16%2011.3267V18.9767C16%2019.2367%2015.87%2019.4867%2015.66%2019.6267C15.54%2019.6967%2015.39%2019.7467%2015.25%2019.7467C15.15%2019.7467%2015.04%2019.7267%2014.95%2019.6867L10.78%2017.7667L11.78%2016.5267L13.8%2017.4567Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E");
}
.mute-button[aria-pressed="false"] {
  /* unmuted */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.95%2019.938C12.04%2019.9793%2012.15%2020%2012.25%2020C12.39%2020%2012.54%2019.9484%2012.66%2019.8761C12.87%2019.7315%2013%2019.4836%2013%2019.2254V4.76682C13%204.49831%2012.86%204.2711%2012.65%204.12651C12.44%203.98193%2012.17%203.96127%2011.94%204.06455L4.99%207.25577C4.48%207.48298%203.93%207.60691%203.37%207.60691H1.75C1.34%207.60691%201%207.95804%201%208.38147V15.6108C1%2016.0342%201.34%2016.3853%201.75%2016.3853H3.37C3.93%2016.3853%204.48%2016.499%204.99%2016.7365L11.95%2019.938ZM3.69%2014.8362H3C2.72%2014.8362%202.5%2014.5987%202.5%2014.3198V9.67242C2.5%209.38325%202.72%209.15604%203%209.15604H3.69C4.25%209.15604%204.8%209.03211%205.31%208.79458L10.8%206.27465C11.13%206.13006%2011.5%206.37792%2011.5%206.74972V17.2322C11.5%2017.604%2011.13%2017.8622%2010.8%2017.7073L5.31%2015.1873C4.8%2014.9601%204.25%2014.8362%203.69%2014.8362ZM19.55%2017.1496C19.29%2017.4181%2019.29%2017.8519%2019.55%2018.1204C19.81%2018.3786%2020.23%2018.3786%2020.49%2018.1101C23.84%2014.6503%2023.84%209.01147%2020.49%205.55173C20.23%205.28321%2019.81%205.28321%2019.55%205.55173C19.29%205.82025%2019.29%206.254%2019.55%206.52252C22.39%209.45555%2022.39%2014.2166%2019.55%2017.1496ZM17.19%2015.6727C16.93%2015.4042%2016.93%2014.9704%2017.19%2014.7019C18.72%2013.1218%2018.72%2010.5399%2017.19%208.95978C16.93%208.69126%2016.93%208.2575%2017.19%207.98899C17.45%207.72047%2017.87%207.72047%2018.13%207.98899C20.18%2010.1061%2020.18%2013.5556%2018.13%2015.6727C17.86%2015.9412%2017.44%2015.9412%2017.19%2015.6727ZM14.82%2012.2645C14.56%2012.5331%2014.56%2012.9668%2014.82%2013.2353C15.08%2013.5039%2015.5%2013.5039%2015.76%2013.225C16.51%2012.4504%2016.51%2011.2008%2015.76%2010.4262C15.5%2010.1577%2015.08%2010.1577%2014.82%2010.4262C14.56%2010.6948%2014.56%2011.1285%2014.82%2011.397C15.05%2011.6346%2015.05%2012.027%2014.82%2012.2645Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E");
}
